<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Edgaras" />
		<title>Shopping List</title>
		<link rel="stylesheet" type="text/css" href="css/styles-login.css" />
	</head>
	<body>
		<div>
		<span>
			<span>
				<h1 class="title">Shopping List</h1>
			</span>
			<span>
				<img
					class="cart_image"
					src="/pic/cart.png"
					width="50"
					height="50"
				/>
			</span>
			<span>
				<nav role="navigation">
					<form class="login" method="post" action="/login">
						<label>Login</label>
						<div>
							<% if(messages.error) { %>
								<%= messages.error %>		
							<%	} %>
						</div>
						<div>							
							<label for="email">Email :&nbsp&nbsp&nbsp</label>
							<input
								type="text"
								id="email"
								name="email"
								maxlength="20"
								size="20"
								required
							/>
						</div>
						<div>
							<label for="password">Password :</label>
							<input
								type="text"
								id="password"
								name="password"
								maxlength="20"
								size="20"
								required
							/>
						</div>
						<div><label><a href="/signup">Sign up</a></label></div>
						<button type="submit">Login</button>
					</form>
				</nav>
			</span>
		</div>
	</body>
	<script src=""></script>
	<script src=""></script>
</html>
