<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles-my_lists.css">  
    <title>My Lists</title>
</head>
<body>
    <div>
      <h1 class="title">My Lists</h1>
    </div>
    <div>
        <% if (List.length > 0) { %>
        <% List.forEach(List => { %> 
        <%= "List created: "%>    
        <%= List.createdAt %></br>
        <%= List.List %></br></br>
        <% }) %>
        <% } else { %>
            <p> There are no list to display...</p>
        <% } %>
    </div>                
    </br>
</body>
</html>