body {
	color: #cdcdcd;
	background: linear-gradient(110deg, #4b4b4b 40%, #232323 60%);
	font-family: 'Lucida sans', 'Avenir', sans-serif;
	min-height: 100%;
	font-style: italic;
}

.login {
	position: absolute;
	display: grid;
	justify-content: center;
	justify-items: center;
	border-style: dashed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 270px; /* Need a specific value to work */
}

.errors {
	background-color: rgb(255, 255, 120);
	color: black;
}
