html {
	height: 100%;
}

body {
	color: #cdcdcd;
	background: linear-gradient(110deg, #4b4b4b 40%, #232323 60%);
	font-family: 'Lucida sans', 'Avenir', sans-serif;
	min-height: 100%;
}

#menuToggle {
	display: grid;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
	position: relative;
	width: 16%;
	margin: -80px -50px;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px;
	font-size: 1.5rem;
	padding-left: 60px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
	transform: none;
}

.title {
	position: relative;
	display: inline-block;
	font-style: italic;
	padding-left: 2%;
}

.wrapper {
	position: relative;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 5%;
}

.container {
	display: block;
	position: relative;
	font-size: 1.2rem;
	text-align: left;
}

.container2 {
	display: grid;
	position: relative;
	font-size: 1.2rem;
	color: black;
	text-align: left;
	/*justify-content: center;*/
}

img#paper {
	display: block;
}

.paper {
	margin-top: 3%;
}

.top-left {
	position: absolute;
	top: 105px;
	left: 16%;
	right: 5%;
	font-size: larger;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow-wrap: break-word;
}

.bottomButons {
	display: flex;
	position: absolute;
	bottom: 2%;
	right: 15%;
}

span#save {
	border: black;
	border-style: double;
}

span#clear2 {
	border: black;
	border-style: double;
}

span#addPaper {
	border: black;
	border-style: double;
}

#fieldset1,
#fieldset2 {
	display: grid;
	position: relative;
	justify-content: start;
	justify-items: center;
}

.cart_image {
	position: absolute;
	display: inline;
	top: 1%;
	padding-left: 1%;
}

.delete-image,
.add-image {
	position: relative;
}

.grocery {
	position: relative;
	display: block;
	left: 5%;
	top: 5%;
}

.elements1,
div.elements2 {
	position: relative;
	display: flex;
	align-items: stretch;
}
