body {
	color: #cdcdcd;
	background: linear-gradient(110deg, #4b4b4b 40%, #232323 60%);
	font-family: 'Lucida sans', 'Avenir', sans-serif;
	min-height: 100%;
	font-style: italic;
}

/* Style for scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

input {
	margin-bottom: 2%;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 5%;
	width: 90%;
	align-items: baseline;
}

.item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	border: 1px solid rgb(70, 69, 69);
	border-radius: 4px;
	padding: 3px;
	margin-left: 1%;
	margin-bottom: 1%;
	background-color: rgba(173, 166, 166, 0.178);
	max-width: 50%;
	align-items: center;
}

.item:hover {
	box-shadow: 0 0 15px 10px rgb(0, 26, 255);
	opacity: 0.6;
}

.hide {
	position: relative;

	opacity: 0.1;
}

.hide:hover {
	opacity: 1;
}

.name {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 200px;
	height: 60px;
	overflow-y: auto;
	border: solid;
	border-radius: 5%;
	border-color: rgb(124, 122, 122);
	border-width: 2px;
}

a#url {
	color: rgb(0, 0, 255);
}

.image {
	width: 200px;
	height: 220px;
}
